<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
      <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
        <h1 class="title-font font-medium text-3xl text-gray-900">Iniciar Sesión</h1>
        <p class="leading-relaxed mt-4">Si aun no cuentas con una cuenta de usuario <a class="mr-5 hover:text-gray-900" style="color: blue;" routerLink="/signup" ng-reflect-router-link="signup" href="/signup">registrate aquí</a></p>
      </div>

      <!-- Arreglamos los margenes del Formulario -->
      <!-- Indicamos el nombre del campo email que estamos recibiendo en el formulario e indicamos que debe ser requerido -->
        <form (ngSubmit)="login()" [formGroup]="loginForm"
         class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
          <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Acceder</h2>
          
          <div class="relative mb-4">
            <label for="email" class="leading-7 text-sm text-gray-600">Correo Electronico</label>
            <input type="email" id="email" name="email" 
              class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              formControlName="email"
              required>

              <!-- Se va a realizar un envio de leyenda del Login Form -->
              <!-- Detecta que en los campos email y password sean invalidos-->
              
              <!-- Detecta si se encuentra alguna basura o que si el campo (Email) ha sido tocado muestra la leyenda de CorreoIncorrecto -->
              <div *ngIf="loginForm.controls['email'].invalid && 
                          loginForm.controls['email'].dirty || loginForm.controls['email'].touched">
                <!--Leyenda: Indica que el campo email es requerido-->
                <div class="text-danger" *ngIf="loginForm.controls['email'].errors.required">
                  Correo Incorrecto
                </div>
              </div>

          </div>
          
          <div class="relative mb-4">
            <label for="password" class="leading-7 text-sm text-gray-600">Contraseña</label>

            <!-- Autocomplete = off, por seguridad de la controaseña  -->
            <input type="password" id="password" name="password" 
              class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              formControlName="password" autocomplete="off"
              required>

              <!-- Realizamos el mismo proceso de seguridad para Password, como en el caso de Email -->
              <div *ngIf="loginForm.controls['password'].invalid && 
                          loginForm.controls['password'].dirty || loginForm.controls['password'].touched">
                
                <div class="text-danger" *ngIf="loginForm.controls['password'].errors.required">
                  Contraseña Incorrecta
                </div>
              </div>

          </div>
          
          <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Ingresar</button>
          <p class="text-xs text-gray-500 mt-3">Ingresa tus credenciales de acceso.</p>
      </form>
    </div>
  </section>