<div class="flex flex-wrap -m-4">
    <!-- Hacemos el recorrido de la informacion del Array obtenido en el TS a traves de un ngfor -->
    <app-producto-item *ngFor="let producto of producto" [producto]="producto"></app-producto-item>
</div>

<!-- Si no existe Producto en el recorrido, entonces mostramos un ERROR 404, indicando que no se encontraron productos -->
<div *ngIf="!producto.length">
    
    <div class="flex flex-col text-center w-full mb-12">

        <!-- Con 'mx-auto' del div centramos los elementos dentro del mismo -->
        <div class="ps-section__content mx-auto">
            <img src="../../../assets/img/404.jpg" alt="">
        </div>
        <h3>Ohhh!! No existen productos</h3>
    </div>
    
    <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
</div>