<!-- Ajustamos el tamaño de las imagenes mostradas de los productos -->
<div class="lg:w-4/4 md:w-4/4 p-4 w-full">

  <!-- Indicamos que vamos a llamar las imagenes como Angular -->
    <a class="block relative h-48 rounded overflow-hidden">

      <!-- Indicamos que traiga la imagen y en caso de no encontrarla se va a mostrar el nombre -->
      <img alt="ecommerce" class="object-cover object-center w-full h-full block" 
      [src]="producto ? producto.imageUrl[0] : ''" [alt]="producto?.nombre">
    </a>
    <div class="mt-4">
    <!-- <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3> -->

    <!--  Definimos que el limite de caracteres en el nombre es 20 -->
    <!--  Indicamos que se colocaran unos puntos suspensivos a partir del caracter 21 -->
      <h2 class="text-gray-900 title-font text-lg font-medium">
        {{ producto?.nombre?.substring(0,20) }} 
        {{ producto && producto.nombre[21] ? "..." : null }}
      </h2>

      <!-- Mostramos un precio de venta y en caso de que este no se encuentre, por default lo manejamos en cero -->
      <!-- De igual manera mostramos un precio regular, por defultar se maneja en cero si esta vacio el valor -->
      <!-- Colocamos descuento entre precio de venta y precio regular y lo mostramos como porcentaje -->
      <p class="mt-1">${{ producto?.precio_venta || 0 }}</p> 
      <del>${{ (producto?.precio_regular || 0) }}</del>
      <span class="text-danger ml-3">{{ producto ? ((producto.precio_regular - producto.precio_venta) / (producto.precio_regular) | percent) : null }}</span>
    </div>
  </div>